.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featuresTitle {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.featureSvg {
  height: 180px;
  width: 180px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem 0;
  }

  .featuresTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .featureSvg {
    height: 150px;
    width: 150px;
  }
}
