{% extends "juice/templates/index.html" %}

{% block hero %}
    <section class="text-center">
        <h1 class="heading-text" style="font-size: 40px">
            A new programming paradigm for Rust
        </h1>
        <h3 class="title-text">
            <span style="color: rgb(8, 155, 8)">✓</span> <i>Modular</i> component system
        </h3>
        <h3 class="title-text">
            <span style="color: rgb(8, 155, 8)">✓</span> <i>Expressive</i> ways to write code
        </h3>
        <h3 class="title-text">
            <span style="color: rgb(8, 155, 8)">✓</span> <i>Type-Safe</i> composition
        </h3>
        <h3 class="title-text">
            <span style="color: rgb(8, 155, 8)">✓</span> <i>No-Std</i> friendly
        </h3>
        <h3 class="title-text">
            <span style="color: rgb(8, 155, 8)">✓</span> <i>Zero-Cost</i> abstraction
        </h3>
    </section>
    <img class="hero-image" style="width: 50%" src="/rust-logo.svg">

    <div class="explore-more text"
        onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
        Explore More ⇩
    </div>
    <style>
        .hero section {
            padding: 0 5rem;
        }

        @media screen and (max-width: 768px) {
            .hero section {
                padding: 0 2rem;
            }

            .hero-image {
                display: none
            }
        }
    </style>
{% endblock hero %}

{% block sidebar %}
{% endblock sidebar %}

{% block favicon %}
<link rel="icon" type="image/png" href="/favicon.png" />
{% endblock favicon %}

{% block footer %}
<footer>
    <small class="subtext">
        <a href="https://maybevoid.com">Soares Chen</a> © 2024
    </small>
</footer>
{% endblock footer %}